## CDC Data Cleaning - Step by Step Summary

### Problem
The raw CDC data contained mixed measurement types:
- **Prevalence percentages** (e.g., "30% of adults have high blood pressure")
- **Mortality counts** (e.g., "7,389 deaths from heart disease")
- **Hospitalization rates** (e.g., Medicare admissions for heart failure)

When combined without filtering, these gave corrupted values like Iowa showing 7,389 for heart disease instead of the correct 54.4%.

### Solution: 10-Step Cleaning Process

**Step 1: Load Data**
- Loaded 309,215 rows from CDC Chronic Disease dataset

**Step 2: Filter to 3 Diseases**
- Kept only: Diabetes, Cardiovascular Disease, Chronic Obstructive Pulmonary Disease
- Removed other topics (Cancer, Arthritis, Asthma, etc.)
- Result: 74,978 rows

**Step 3: Examine Questions**
- Analyzed unique questions under each disease
- Identified which were prevalence vs mortality vs hospitalization

**Step 4: Filter to "Among Adults" Questions**
- Kept only questions containing "among adults" (prevalence indicators)
- Automatically excluded mortality and hospitalization questions
- Result: 34,640 rows

**Step 5: Remove Missing Values**
- Dropped rows where DataValue was empty or null
- Result: 23,194 rows

**Step 6: Convert to Numeric**
- Removed commas and percentage signs from text values
- Converted from text to numeric format for analysis
- Example: "34%" → 34.0

**Step 7: Keep Latest Year Per State-Disease**

**Why We Did This:**
The CDC data has measurements from multiple years (2015-2021). For Iowa, I could have:
- Iowa 2015: 45%
- Iowa 2018: 49%
- Iowa 2021: 54.4%

I had to pick one. I chose 2021 (the latest).

**Why Latest Year?**

1. **Matches my other data** - My CMS data is 2023, HRRP is 2020-2023. Using 2021 from CDC makes them closer in time.

2. **Current situation** - 2021 shows Iowa's current disease rate, not old data from 2015. That's what matters for my analysis.

3. **Avoids confusion** - If I mixed 2015 disease rates with 2023 costs, I'd be comparing old health with new spending. That doesn't make sense.

4. **Simpler dataset** - One year per state = one row per state-disease. If I kept all years, Iowa would have multiple rows for the same disease.

Sorted by year, then kept only the last (newest) year for each state-disease.

**Before:** 23,194 rows (many years per state)
**After:** 165 rows (one year per state)


**Now, One clean value per disease, all from the same year.**

**Step 8: Pivot to Wide Format**
- Changed from long format (multiple rows per state) to wide format (one row per state)
- Created separate columns for each disease
- Result: 55 rows

**Step 9: Rename Columns**
- LocationAbbr → State
- Diabetes → Diabetes_Rate
- Cardiovascular Disease → HeartDisease_Rate
- Chronic Obstructive Pulmonary Disease → COPD_Rate

**Step 10: Final Verification**
- Verified all values are reasonable percentages
- Confirmed no corrupted data remains

### Final Result: Clean CDC Data

| Metric | Range | Status |
|--------|-------|--------|
| HeartDisease_Rate | 12.10% - 92.30% | ✓ Valid |
| COPD_Rate | 0.00% - 20.20% | ✓ Valid |
| Diabetes_Rate | 1.80% - 24.40% | ✓ Valid |
| Total States | 55 | ✓ Complete |

**Example: Iowa After Cleaning**
- Before: HeartDisease_Rate = 7,389 (corrupted - mortality count)
- After: HeartDisease_Rate = 54.4% (correct - prevalence)
- COPD_Rate: 8.1%
- Diabetes_Rate: 15.2%

All disease rates are now valid prevalence percentages ready for merging with HRRP and CMS datasets.

In [1]:
import pandas as pd
cdi =  pd.read_csv("data/Chronic_Disease.csv")

/var/folders/5_/7850fm454vb567dm0m8jx2d80000gn/T/ipykernel_25992/2240071564.py:2: DtypeWarning: Columns (10,11,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  cdi =  pd.read_csv("data/Chronic_Disease.csv")

In [2]:
print(f"Total rows in CDC data: {len(cdi)}")

Total rows in CDC data: 309215

In [3]:
cdi.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,TopicID,QuestionID,ResponseID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2020,2020,US,United States,BRFSS,Health Status,Recent activity limitation among adults,NaN,Number,Age-adjusted Mean,...,HEA,HEA04,NaN,AGEADJMEAN,SEX,SEXF,NaN,NaN,NaN,NaN
1,2015,2019,AR,Arkansas,US Cancer DVT,Cancer,"Invasive cancer (all sites combined), incidence",NaN,Number,Number,...,CAN,CAN07,NaN,NMBR,SEX,SEXM,NaN,NaN,NaN,NaN
2,2015,2019,CA,California,US Cancer DVT,Cancer,"Cervical cancer mortality among all females, u...",NaN,Number,Number,...,CAN,CAN03,NaN,NMBR,OVERALL,OVR,NaN,NaN,NaN,NaN
3,2015,2019,CO,Colorado,US Cancer DVT,Cancer,"Invasive cancer (all sites combined), incidence",NaN,Number,Number,...,CAN,CAN07,NaN,NMBR,RACE,HIS,NaN,NaN,NaN,NaN
4,2015,2019,GA,Georgia,US Cancer DVT,Cancer,"Prostate cancer mortality among all males, und...",NaN,Number,Number,...,CAN,CAN05,NaN,NMBR,RACE,WHT,NaN,NaN,NaN,NaN

In [4]:
# STEP 2: Keep only the 3 diseases we want
diseases = ["Diabetes", "Cardiovascular Disease", "Chronic Obstructive Pulmonary Disease"]
cdi = cdi[cdi["Topic"].isin(diseases)]
print(f"Rows after filtering: {len(cdi)}")

Rows after filtering: 74978

In [5]:
# STEP 3: Look at all three diseases in detail
selected_topics = ["Diabetes", "Cardiovascular Disease", "Chronic Obstructive Pulmonary Disease"]

for topic in selected_topics:
    topic_data = cdi[cdi['Topic'] == topic]
    print(f"\n{topic}:")
    print(f"  Total rows: {len(topic_data)}")
    print(f"  Unique questions:")
    for q in topic_data['Question'].unique():
        print(f"    - {q}")

Diabetes:
  Total rows: 17318
  Unique questions:
    - Diabetic ketoacidosis mortality among all people, underlying or contributing cause
    - Diabetes among adults
    - Gestational diabetes among women with a recent live birth
    - Diabetes mortality among all people, underlying or contributing cause

Cardiovascular Disease:
  Total rows: 30709
  Unique questions:
    - Taking medicine to control high blood pressure among adults with high blood pressure
    - Coronary heart disease mortality among all people, underlying cause
    - High cholesterol among adults who have been screened
    - Taking medicine for high cholesterol among adults
    - Cerebrovascular disease (stroke) mortality among all people, underlying cause
    - High blood pressure among adults
    - Diseases of the heart mortality among all people, underlying cause
    - Hospitalization for heart failure as principal diagnosis, Medicare-beneficiaries aged 65 years and older

Chronic Obstructive Pulmonary Disease:
  Total rows: 26951
  Unique questions:
    - Chronic obstructive pulmonary disease mortality among adults aged 45 years and older, underlying cause
    - Current smoking among adults with chronic obstructive pulmonary disease
    - Chronic obstructive pulmonary disease among adults
    - Chronic obstructive pulmonary disease mortality among adults aged 45 years and older, underlying or contributing cause
    - Hospitalization for chronic obstructive pulmonary disease as any diagnosis, Medicare-beneficiaries aged 65 years and older
    - Hospitalization for chronic obstructive pulmonary disease as principal diagnosis, Medicare-beneficiaries aged 65 years and older

In [6]:
# STEP 4: Keep only questions with "among adults" (prevalence, not mortality)
cdi = cdi[cdi["Question"].str.contains("among adults", case=False, na=False)]
print(f"Step 4 - Rows after filtering to 'among adults': {len(cdi)}")

Step 4 - Rows after filtering to 'among adults': 34640

In [7]:
# STEP 5: Remove empty DataValue
cdi = cdi[cdi["DataValue"].notna()]
print(f"Step 5 - Rows after removing empty values: {len(cdi)}")

Step 5 - Rows after removing empty values: 23194

In [8]:
# STEP 6: Convert DataValue to number
cdi["DataValue"] = (
    cdi["DataValue"]
    .astype(str)
    .str.replace(",", "")
    .str.replace("%", "")
)
cdi["DataValue"] = pd.to_numeric(cdi["DataValue"], errors="coerce")
print(f"Step 6 - DataValue converted to numeric")

Step 6 - DataValue converted to numeric

In [9]:
# STEP 7: Keep latest year per state and disease
cdi = cdi.sort_values(["LocationAbbr", "Topic", "YearStart"])
cdi = cdi.drop_duplicates(subset=["LocationAbbr", "Topic"], keep="last")
print(f"Step 7 - Rows after keeping latest year only: {len(cdi)}")

Step 7 - Rows after keeping latest year only: 165

In [10]:
# STEP 8: Pivot to wide format
cdi_pivot = cdi.pivot_table(
    index="LocationAbbr",
    columns="Topic",
    values="DataValue",
    aggfunc="first"
).reset_index()
cdi_pivot.columns.name = None

print(f"Step 8 - After pivot: {len(cdi_pivot)} rows")

Step 8 - After pivot: 55 rows

In [11]:
# STEP 9: Rename columns
cdi_pivot.rename(columns={
    "LocationAbbr": "State",
    "Diabetes": "Diabetes_Rate",
    "Cardiovascular Disease": "HeartDisease_Rate",
    "Chronic Obstructive Pulmonary Disease": "COPD_Rate"
}, inplace=True)

In [12]:
# STEP 10: Verify final data
print(f"\nStep 10 - Final Data Check:")
print(f"HeartDisease_Rate: {cdi_pivot['HeartDisease_Rate'].min():.2f} to {cdi_pivot['HeartDisease_Rate'].max():.2f}")
print(f"COPD_Rate: {cdi_pivot['COPD_Rate'].min():.2f} to {cdi_pivot['COPD_Rate'].max():.2f}")
print(f"Diabetes_Rate: {cdi_pivot['Diabetes_Rate'].min():.2f} to {cdi_pivot['Diabetes_Rate'].max():.2f}")

print(f"\nIowa data:")
print(cdi_pivot[cdi_pivot['State'] == 'IA'])

Step 10 - Final Data Check:
HeartDisease_Rate: 12.10 to 92.30
COPD_Rate: 0.00 to 20.20
Diabetes_Rate: 1.80 to 24.40

Iowa data:
   State  HeartDisease_Rate  COPD_Rate  Diabetes_Rate
13    IA               54.4        8.1           15.2

In [13]:
cdi_pivot.head(10)

  State  HeartDisease_Rate  COPD_Rate  Diabetes_Rate
0    AK               27.7        5.0           20.6
1    AL               83.8        9.4           21.5
2    AR               72.8       13.3            5.4
3    AZ               28.1        2.6           10.5
4    CA               30.7        3.3           24.4
5    CO               28.6        2.2            7.6
6    CT               92.3        5.0            7.1
7    DC               60.8        8.0           12.9
8    DE               62.3        7.3           18.1
9    FL               82.8       13.3           10.8

In [14]:
len(cdi_pivot)

55