## Financial Data

Columns to keep!
- Rndrng_Prvdr_State_Abrvtn (Provider State)
- DRG_Desc (DRG Definition)
- Tot_Dschrgs (Total Discharges)
- Avg_Submtd_Cvrd_Chrg	(Average Covered Charges)
- Avg_Tot_Pymt_Amt (Average Total Payments)
- Avg_Mdcr_Pymt_Amt (Average payment from Medicare)

In [1]:
import pandas as pd

columns_to_keep = [
    "Rndrng_Prvdr_State_Abrvtn",
    "DRG_Desc",
    "Tot_Dschrgs",
    "Avg_Submtd_Cvrd_Chrg",
    "Avg_Tot_Pymt_Amt",
    "Avg_Mdcr_Pymt_Amt"
]

cms = pd.read_csv(
    "data/inpatient.csv",
    usecols=columns_to_keep,
    encoding="windows-1252",
    low_memory=False
)

print(cms.shape)
cms.head(5)

(146427, 6)

,Rndrng_Prvdr_State_Abrvtn,DRG_Desc,Tot_Dschrgs,Avg_Submtd_Cvrd_Chrg,Avg_Tot_Pymt_Amt,Avg_Mdcr_Pymt_Amt
0,AL,ECMO OR TRACHEOSTOMY WITH MV >96 HOURS OR PRIN...,14,663764.35714,120219.928570,115544.142860
1,AL,CRANIOTOMY WITH MAJOR DEVICE IMPLANT OR ACUTE ...,26,180980.88462,37321.038462,35261.807692
2,AL,CRANIOTOMY WITH MAJOR DEVICE IMPLANT OR ACUTE ...,12,105824.33333,26936.666667,25048.916667
3,AL,CRANIOTOMY AND ENDOVASCULAR INTRACRANIAL PROCE...,16,242539.50000,34745.375000,32438.625000
4,AL,EXTRACRANIAL PROCEDURES WITH CC,11,122741.18182,14999.818182,9579.363636

In [2]:
cms = cms.rename(columns={
    "Rndrng_Prvdr_State_Abrvtn": "Provider_State",
    "DRG_Desc": "DRG_Def",
    "Avg_Submtd_Cvrd_Chrg": "Avg_covered_charges",
    "Avg_Tot_Pymt_Amt": "Avg_total_payments",
    "Tot_Dschrgs": "Total_Discharges",
    "Avg_Mdcr_Pymt_Amt":"Avg_pay_from_medicare"
})
cms.isnull().sum()

Provider_State           0
DRG_Def                  0
Total_Discharges         0
Avg_covered_charges      0
Avg_total_payments       0
Avg_pay_from_medicare    0
dtype: int64

In [3]:
cms.head()

,Provider_State,DRG_Def,Total_Discharges,Avg_covered_charges,Avg_total_payments,Avg_pay_from_medicare
0,AL,ECMO OR TRACHEOSTOMY WITH MV >96 HOURS OR PRIN...,14,663764.35714,120219.928570,115544.142860
1,AL,CRANIOTOMY WITH MAJOR DEVICE IMPLANT OR ACUTE ...,26,180980.88462,37321.038462,35261.807692
2,AL,CRANIOTOMY WITH MAJOR DEVICE IMPLANT OR ACUTE ...,12,105824.33333,26936.666667,25048.916667
3,AL,CRANIOTOMY AND ENDOVASCULAR INTRACRANIAL PROCE...,16,242539.50000,34745.375000,32438.625000
4,AL,EXTRACRANIAL PROCEDURES WITH CC,11,122741.18182,14999.818182,9579.363636

## Chronic Disease Data

In [4]:
cdi =  pd.read_csv("data/Chronic_Disease.csv")
cdi.head(5)

/var/folders/5_/7850fm454vb567dm0m8jx2d80000gn/T/ipykernel_82786/3157787753.py:1: DtypeWarning: Columns (10,11,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  cdi =  pd.read_csv("data/Chronic_Disease.csv")

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,TopicID,QuestionID,ResponseID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2020,2020,US,United States,BRFSS,Health Status,Recent activity limitation among adults,NaN,Number,Age-adjusted Mean,...,HEA,HEA04,NaN,AGEADJMEAN,SEX,SEXF,NaN,NaN,NaN,NaN
1,2015,2019,AR,Arkansas,US Cancer DVT,Cancer,"Invasive cancer (all sites combined), incidence",NaN,Number,Number,...,CAN,CAN07,NaN,NMBR,SEX,SEXM,NaN,NaN,NaN,NaN
2,2015,2019,CA,California,US Cancer DVT,Cancer,"Cervical cancer mortality among all females, u...",NaN,Number,Number,...,CAN,CAN03,NaN,NMBR,OVERALL,OVR,NaN,NaN,NaN,NaN
3,2015,2019,CO,Colorado,US Cancer DVT,Cancer,"Invasive cancer (all sites combined), incidence",NaN,Number,Number,...,CAN,CAN07,NaN,NMBR,RACE,HIS,NaN,NaN,NaN,NaN
4,2015,2019,GA,Georgia,US Cancer DVT,Cancer,"Prostate cancer mortality among all males, und...",NaN,Number,Number,...,CAN,CAN05,NaN,NMBR,RACE,WHT,NaN,NaN,NaN,NaN

#### columns_to_keep 
- "LocationAbbr"
-  "Topic" 
-  "Question"
-   "DataValue"
-    "YearStart"
#### Key chronic disease
- "Diabetes"
- "Cardiovascular Disease"
-  "COPD"
-  "Cancer"
-  "Obesity"

In [5]:
import pandas as pd

# Filter for key chronic disease topics
topics_to_keep = ["Diabetes", "Cardiovascular Disease", "COPD", "Cancer", "Obesity"]
cdi = cdi[cdi["Topic"].isin(topics_to_keep)]
columns_to_keep = ["LocationAbbr", "Topic", "Question", "DataValue", "YearStart"]
cdi = cdi[columns_to_keep]

In [6]:
cdi =  cdi.rename(columns = {
    "LocationAbbr" : "State",
    "DataValue": "Value",
    "YearStart":"Year" 
})
cdi.isnull().sum()
#Dropping the null values
cdi = cdi.dropna(subset=["Value"])

In [7]:
cdi.head()

,State,Topic,Question,Value,Year
1,AR,Cancer,"Invasive cancer (all sites combined), incidence","9,537",2015
2,CA,Cancer,"Cervical cancer mortality among all females, u...",486,2015
3,CO,Cancer,"Invasive cancer (all sites combined), incidence","2,880",2015
4,GA,Cancer,"Prostate cancer mortality among all males, und...",519,2015
5,KS,Cancer,"Invasive cancer (all sites combined), incidence","8,102",2015

## Patient Readmission Data

In [8]:
hrrp = pd.read_csv("data/readmission_hrrp.csv")
columns_to_keep = ["Facility Name", "State", "Measure Name", "Predicted Readmission Rate", "Expected Readmission Rate","Excess Readmission Ratio", "Number of Discharges"]
hrrp = hrrp[columns_to_keep]
hrrp.isnull().sum()

Facility Name                     0
State                             0
Measure Name                      0
Predicted Readmission Rate     6583
Expected Readmission Rate      6583
Excess Readmission Ratio       6583
Number of Discharges          10170
dtype: int64

In [9]:
hrrp = hrrp.dropna(subset=["Predicted Readmission Rate", "Expected Readmission Rate"])
#keeping the rows where the predicted and the expected readmission rate is available.
hrrp = hrrp[hrrp["Number of Discharges"].fillna(0) > 0]
hrrp.head()

,Facility Name,State,Measure Name,Predicted Readmission Rate,Expected Readmission Rate,Excess Readmission Ratio,Number of Discharges
0,SOUTHEAST HEALTH MEDICAL CENTER,AL,READM-30-AMI-HRRP,13.0146,13.7235,0.9483,296.0
1,SOUTHEAST HEALTH MEDICAL CENTER,AL,READM-30-CABG-HRRP,9.6899,10.1898,0.9509,151.0
2,SOUTHEAST HEALTH MEDICAL CENTER,AL,READM-30-HF-HRRP,21.5645,20.3495,1.0597,681.0
4,SOUTHEAST HEALTH MEDICAL CENTER,AL,READM-30-PN-HRRP,16.1137,16.5863,0.9715,490.0
5,SOUTHEAST HEALTH MEDICAL CENTER,AL,READM-30-COPD-HRRP,15.4544,16.5637,0.9330,130.0

#### Keeping the chronic diseases which are more common
- "READM-30-HF",      # Heart Failure
- "READM-30-COPD",    # Chronic Obstructive Pulmonary Disease
-  "READM-30-DIABETES",# Diabetes
-  "READM-30-AMI",     # Acute Myocardial Infarction
-   "READM-30-PN"       # Pneumonia

In [10]:
chronic_measures = [
    "READM-30-HF-HRRP",      # Heart Failure
    "READM-30-COPD-HRRP",    # Chronic Obstructive Pulmonary Disease
    "READM-30-DIABETES-HRRP",# Diabetes
    "READM-30-AMI-HRRP",     # Acute Myocardial Infarction
    "READM-30-PN-HRRP"       # Pneumonia
]

hrrp = hrrp[hrrp["Measure Name"].isin(chronic_measures)]
hrrp.head()

,Facility Name,State,Measure Name,Predicted Readmission Rate,Expected Readmission Rate,Excess Readmission Ratio,Number of Discharges
0,SOUTHEAST HEALTH MEDICAL CENTER,AL,READM-30-AMI-HRRP,13.0146,13.7235,0.9483,296.0
2,SOUTHEAST HEALTH MEDICAL CENTER,AL,READM-30-HF-HRRP,21.5645,20.3495,1.0597,681.0
4,SOUTHEAST HEALTH MEDICAL CENTER,AL,READM-30-PN-HRRP,16.1137,16.5863,0.9715,490.0
5,SOUTHEAST HEALTH MEDICAL CENTER,AL,READM-30-COPD-HRRP,15.4544,16.5637,0.9330,130.0
8,MARSHALL MEDICAL CENTERS,AL,READM-30-HF-HRRP,20.1511,20.2835,0.9935,176.0

### Weighted + State Aggregation of readmission dataset

In [11]:
# Step 1 — create weighted columns
hrrp["w_pred"] = hrrp["Predicted Readmission Rate"] * hrrp["Number of Discharges"]
hrrp["w_exp"]  = hrrp["Expected Readmission Rate"]  * hrrp["Number of Discharges"]

# Step 2 — get weighted averages by State and Measure Name
hrrp_state = (
    hrrp.groupby(["State", "Measure Name"], as_index=False)
    .agg({
        "w_pred": "sum",
        "w_exp": "sum",
        "Number of Discharges": "sum"
    })
)

In [12]:
# Step 3 — calculate weighted averages and ratio
hrrp_state["PredictedRate"] = hrrp_state["w_pred"] / hrrp_state["Number of Discharges"]
hrrp_state["ExpectedRate"]  = hrrp_state["w_exp"]  / hrrp_state["Number of Discharges"]
hrrp_state["Excess_Readmission_Ratio"] = hrrp_state["PredictedRate"] / hrrp_state["ExpectedRate"]

# Step 4 — optional: aggregate to one row per State
hrrp_state_summary = (
    hrrp_state.groupby("State", as_index=False)
    .agg({
        "PredictedRate": "mean",
        "ExpectedRate": "mean",
        "Excess_Readmission_Ratio": "mean",
        "Number of Discharges": "sum"
    })
)

# Step 5 — save or check results
hrrp_state_summary.to_csv("data/hrrp_state_summary.csv", index=False)
hrrp_state_summary.head()

,State,PredictedRate,ExpectedRate,Excess_Readmission_Ratio,Number of Discharges
0,AK,15.950213,16.301415,0.974028,3501.0
1,AL,16.650101,16.542128,1.007718,32459.0
2,AR,16.753343,16.498612,1.015915,27808.0
3,AZ,15.927798,15.950312,0.999459,38529.0
4,CA,17.810892,17.427076,1.021456,160908.0

In [13]:
hrrp_new = pd.read_csv ("data/hrrp_state_summary.csv")
hrrp_new.head()

,State,PredictedRate,ExpectedRate,Excess_Readmission_Ratio,Number of Discharges
0,AK,15.950213,16.301415,0.974028,3501.0
1,AL,16.650101,16.542128,1.007718,32459.0
2,AR,16.753343,16.498612,1.015915,27808.0
3,AZ,15.927798,15.950312,0.999459,38529.0
4,CA,17.810892,17.427076,1.021456,160908.0

In [14]:
cms.head()

,Provider_State,DRG_Def,Total_Discharges,Avg_covered_charges,Avg_total_payments,Avg_pay_from_medicare
0,AL,ECMO OR TRACHEOSTOMY WITH MV >96 HOURS OR PRIN...,14,663764.35714,120219.928570,115544.142860
1,AL,CRANIOTOMY WITH MAJOR DEVICE IMPLANT OR ACUTE ...,26,180980.88462,37321.038462,35261.807692
2,AL,CRANIOTOMY WITH MAJOR DEVICE IMPLANT OR ACUTE ...,12,105824.33333,26936.666667,25048.916667
3,AL,CRANIOTOMY AND ENDOVASCULAR INTRACRANIAL PROCE...,16,242539.50000,34745.375000,32438.625000
4,AL,EXTRACRANIAL PROCEDURES WITH CC,11,122741.18182,14999.818182,9579.363636

In [15]:
cdi.head()

,State,Topic,Question,Value,Year
1,AR,Cancer,"Invasive cancer (all sites combined), incidence","9,537",2015
2,CA,Cancer,"Cervical cancer mortality among all females, u...",486,2015
3,CO,Cancer,"Invasive cancer (all sites combined), incidence","2,880",2015
4,GA,Cancer,"Prostate cancer mortality among all males, und...",519,2015
5,KS,Cancer,"Invasive cancer (all sites combined), incidence","8,102",2015